@import '../variables.css';

.nav-panel {
    background-color: var(--app-color-primary);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.489);
}

.nav-panel .nav-block {
   margin-left: auto;
   margin-right: 1em;

}

.nav-panel .action-block {
  flex-grow: 0;

}
.nav-panel .nav-logo {
    margin-left: .3em;
   
 }

 .nav-panel .logout-logo {
    margin-left: .3em;
   
 }

 .nav-panel .login-out-button {
    margin-right: .5em;
    width: 100%;
   
 }

 .nav-panel .no-link {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.55);

 }

 .nav-panel .no-link:hover {
    color:rgba(255, 255, 255, 0.75);
 }
 

.nav-panel .nav-active-border:hover {
   border-left: 2px solid whitesmoke;
   padding-left: 14px;
   transform: translateX(-12px);
}

.nav-panel .nav-active-border {
   padding-left: 16px;
   transform: translateX(-12px);

}

.nav-panel .user-avatar-min {
   height: 32px;
   width: 32px;
   margin-left: auto;
   border: 1px solid rgba(245, 245, 245, 0.458);
   box-shadow: 0 0 4px 3px rgba(12, 14, 15, 0.172);
}



@media (min-width:768px) {
   .nav-panel .nav-active-border:hover
    {
      border-left: none;
      border-bottom: 2px solid whitesmoke;
      transform: translateX(12px);
      transform: translateY(8px);
      padding-bottom: 6px;
   }
   
   .nav-panel .nav-active-border
    {
      transform: translateX(12px);
      transform: translateY(8px);
      padding-bottom: 16px;
      padding-top: 0;
   }



}




