.container {
    background-color: rgba(22, 172, 135, 0.912);
    border-radius: 5px;
    padding: 30px 15px;
    color: whitesmoke;
    box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.465);
}

.input {
    box-shadow: 0 0 6px 4px rgba(53, 50, 50, 0.258);
}

.button {
    box-shadow: 0 0 6px 4px rgba(53, 50, 50, 0.258);
    width:max-content;
    margin-right:12px;
}

.password-icon {
    position: absolute;
    top: 1.05em;
    right: 2em;
    color: rgba(10, 129, 172, 0.975);
}

.password-icon-invalid {
    position: absolute;
    top: 1em;
    right: 2em;
    color: rgba(10, 129, 172, 0.975);
}

.label {
    color: gray;
    margin-bottom: 1em;
}

.reset-link{
    color: rgba(0, 0, 255, 0.507);
    text-decoration: underline;
    font-weight: 500;
    margin-left: .5em;
    cursor: pointer;
    width: fit-content;
    
}

.reset-link:hover {
    color: blue;
    
}