/* layout globals */
.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
}


.auth-actions-container {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(28, 111, 199, 0.703);
    width: max-content;
    padding: 20px 40px;
    border-radius: 7px;
    box-shadow: 0 0 15px 7px rgba(84, 82, 82, 0.5);
    border: 1px solid rgba(0, 0, 255, 0.342);
}


.login-button {
    width: 8em;
    box-shadow: 0 0 4px 4px rgba(13, 11, 11, 0.209);
    border: 1px solid rgb(21, 111, 60);
}

.register-button {
    width: 8em;
    box-shadow: 0 0 4px 4px rgba(13, 11, 11, 0.209);
    border: 1px solid rgb(21, 111, 60);
}

/* left block */
.left-block {
    background-color: rgba(0, 255, 255, 0.215);
    background-image: url('../../../../public/index-background-left.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
}

.left-block-enter {
    transform: 0;
    box-shadow: none;
}

.left-block-enter-active {
    transition: transform 300ms;
    transform: translateX(-50%);
    box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
}

.left-block-exit {
    transform: translateX(-50%);
    box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
    transition: transform 300ms;

}

.left-block-exit-active {
    transform: translateX(0);
    box-shadow: none;
    transition: transform 300ms;
}

@media (max-width: 760px) {
    .left-block-enter {
        transform: 0;
        box-shadow: none;
    }

    .left-block-enter-active {
        transition: transform 300ms;
        transform: translateX(-80%);
        box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
    }

    .left-block-exit {
        transform: translateX(-80%);
        box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
        transition: transform 300ms;

    }

    .left-block-exit-active {
        transform: translateX(0);
        box-shadow: none;
        transition: transform 300ms;
    }
}



/* right block */

.right-block {
    background-color: rgba(0, 0, 255, 0.219);
    background-image: url('../../../../public/index-background-right.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
}

.right-block-enter {
    transform: 0;
    box-shadow: none;
}

.right-block-enter-active {
    transition: transform 300ms;
    transform: translateX(50%);
    box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
}

.right-block-exit {
    transform: translateX(50%);
    box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
    transition: transform 300ms;
}

.right-block-exit-active {
    transform: translateX(0);
    box-shadow: none;
    transition: transform 300ms;
}

@media (max-width: 760px) {
    .right-block-enter {
        transform: 0;
        box-shadow: none;
    }

    .right-block-enter-active {
        transition: transform 300ms;
        transform: translateX(80%);
        box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
    }

    .right-block-exit {
        transform: translateX(80%);
        box-shadow: 0 0 15px 12px rgba(0, 0, 0, 0.879);
        transition: transform 300ms;
    }

    .right-block-exit-active {
        transform: translateX(0);
        box-shadow: none;
        transition: transform 300ms;
    }
}

/* form container */


.form-container {
    position: absolute;
    right: 0;
    left: 0;
    top: 5rem;
    z-index: 100;
    margin: auto;
    height: max-content;

}


.form-enter {
    opacity: 0;
    transform: scale(.3);
}

.form-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;

}

.form-exit {
    opacity: 1;
  transform: scale(1);
   
}

.form-exit-active {
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
   
}