.progress-bar {
    height: 2px;
    width: 100%;
    padding: 0;
    position: fixed;
    

}

.progress-slider {
    background-color: #06c649bf;
    height: 2px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.212);
    transition: all linear 300ms;
}